
body {
	text-align: center;

	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/bg.png);
	background-size: cover;
}

h1 {
	font-family: Open Sans;
	color: white;
	font-size: 75px;
	font-weight: 900;
}

td,th {
	font-family: monospace;
	padding: 4px;
	background-color: #ccc;
	text-align: center;
}

label {
	vertical-align: top;
}

#main {
	border: 1px dotted blue;
	padding: 6px;
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
  	font-size: 40px;
}

#items_table {
	border: 1px dotted blue;
	padding: 6px;
	margin-top: 12px;
	margin-left: auto;
  	margin-right: auto;
  	background-color: #ccc;
}

#items_table h3 {
	font-size: 30px;
	margin-top: 0px;
	font-family: sans-serif;

}
#items_table, #list {
	margin-left: auto;
  	margin-right: auto;
  	font-size: 30px;
}